.cajon{
    background-color: #0c4128;
    width: 200px;
    height: 200px;
    border: 1px;
    display: inline-block;

    color: white;
    text-align: center;
}
.cajon:hover{
    background: blue;
}
.icon-menu{
    size: 1.5rem;
}
.cajones{
    bbackground-color: #0c4128;

    border: 1px;
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 100%;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}