.cajon{
    background-color: #0c4128;
    width: 200px;
    height: 200px;
    border: 1px;
    display: inline-block;

    color: white;
    text-align: center;
}
.cajon:hover{
    background: blue;
}
.icon-menu{
    size: 1.5rem;
}